.a {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.budget-header-image {
    width: 20%;
    height: 80%;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    transition: border 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
}

