:root {
    --color-navbar: #63adf2;
    --color-navbar-hover: #304d6d;;
    --color-photo-background: #a7cced;
    --color-bio-border: #a7cced;
    --color-profile-focused: #82A0BC;
    --color-unfocused-no-birthday: #63adf2;
    --color-move-square: #81f7e5;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}


