:root {
    --color-one: #82A0BC;
    --color-two: #304d6d;;
    --color-three: #a7cced;
    --color-four: #81F7E5;
    --color-five: #63adf2;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
