.header {
    background-color: var(--color-one);
    width: 100% !important;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-minus {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    max-width: 70px;
    width: 15%;
    color: white;
}

.plus-minus div {
    cursor: pointer;
}
.plus-minus div:hover {
    color: var(--color-two);
}

.header-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-links a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    .header-links a {
        font-size: 1rem
    }
}

@media (max-width: 400px) {
    .header-lins a {
        font-size: .75rem
    }
}


.header a:hover {
    color: var(--color-two);
}
