.card{
    background-color: var(--color-three) !important;
    position: fixed !important;
    top: 10% !important;
    z-index: 2 !important;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    width: 90%;
    max-width: 900px;
    height: auto;
    max-height: 90% !important;
}

.card-body {
    padding: 0px !important;

}

.carousel-item {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.carousel-inner {
    padding: 0 7% !important
}
.carousel-item img {
    width: 100%;
    max-height: 80% !important;
    max-width: 80%;
    height: auto;
    object-fit: contain !important;
}

.carousel-caption {
    width: 100%;
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    text-align: center;
    padding: 5px 5px 15px 5px !important;
    margin: 5px 5px 15px 5px;
}

.carousel-caption textarea {
    width: 100%;
}

.carousel-indicators {
    margin: 5px !important;
}

.carousel-control-prev span{
    color: #d3d3d3 !important;
    z-index: 10 !important;
}

.carousel a {
    width: 5% !important
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
