.profile-focused-container {
    position: fixed;
    background-color: var(--color-profile-focused);
    top: 10%;
    left: 0;
    right:0;
    margin: auto;
    width: 80% !important;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    text-align: center;
    max-height: 90% !important;
    overflow: auto;
}

.focused-main-body {
    height: 90%;
    display: flex;
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-instructions {
    font-size: .8rem
}

.profile-info-container .info {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1rem;
}

.focused-footer {
    height: 8%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}




.profile-focused-button {
    border-radius: 10px;
    cursor: pointer;
}


.bio-text {
    font-size: 1rem;
    padding: 15px 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-radius: 8px;
    border: solid 2px var(--color-bio-border);
    white-space: pre-wrap;
    text-align: left;
}


@media (max-width: 600px) {
    .profile-info-container .info {
        font-size: .75rem;
    }
    .bio-text {
        font-size: .75rem;
        padding: 10px 3px;
    }
    .image-instructions {
        font-size: .6rem
    }
}

@media (max-width: 400px) {
    .profile-info-container .info {
        font-size: .5rem
    }
    .bio-text {
        font-size: .5rem;
        padding: 7px 2px;
    }
    .image-instructions {
        font-size: .4rem
    }
}
