.profile-focused-container {
    position: fixed;
    background-color: var(--color-five);
    top: 10%;
    left: 0;
    right:0;
    margin: auto;
    width: 80% !important;
    height: 80%;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    text-align: center
}

.focused-main-body {
    height: 90%;
    display: flex;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-container .info {
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.focused-footer {
    height: 8%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.profile-focused-name {
    font-size: 44px;
    font-weight: bold;
    margin: 20px 0;
}

.profile-details {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.profile-focused-button {
    font-size: 30px;
    background-color: var(--color-three);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: .7rem 0;
}

.profile-focused-button:hover {
    background-color: var(--color-two);
}

.bio-text {
    font-size: 1.1rem;
    padding: 15px 5px;
    overflow: hidden;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 8px;
    border: solid 2px var(--color-three);
    white-space: pre-wrap;
    text-align: left;
}
