.profile-unfocused-container {
    border-radius: 7px;
    border: 1px solid black;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-two);
    cursor: pointer !important
}

.profile-unfocused-container:hover {
    background-color: var(--color-four);
    color: white;
}

.profile-unfocused-name {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
